<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>host-id app</title>
    </head>
    <body>
<h2>Hi Traiana K8S session! </h2>
    <pre>    
  _  __     _                          _              ____  _       _     _ 
 | |/ /   _| |__   ___ _ __ _ __   ___| |_ ___  ___  | __ )| | __ _| |_  | |
 | ' / | | | '_ \ / _ \ '__| '_ \ / _ \ __/ _ \/ __| |  _ \| |/ _` | __| | |
 | . \ |_| | |_) |  __/ |  | | | |  __/ ||  __/\__ \ | |_) | | (_| | |_  |_|
 |_|\_\__,_|_.__/ \___|_|  |_| |_|\___|\__\___||___/ |____/|_|\__,_|\__| (_)
                                                                    
</pre>
<h3>hostname: </h3><h1>{{podName}}</h1>
</body>
</html>

